version: '2.1'
services:
    redis:
        image: 'redis:3.2.7'
        # command: redis-server --requirepass redispass
        networks:
          - gleanomatic

    postgres:
        image: postgres:9.6
        environment:
            - POSTGRES_USER=airflow
            - POSTGRES_PASSWORD=airflow
            - POSTGRES_DB=airflow
        # Uncomment these lines to persist data on the local filesystem.
        #     - PGDATA=/var/lib/postgresql/data/pgdata
        # volumes:
        #     - ./pgdata:/var/lib/postgresql/data/pgdata
        networks:
          - gleanomatic

    webserver:
        build: .
        image: gleanomatic_core
        restart: always
        depends_on:
            - postgres
            - redis
        environment:
            - LOAD_EX=n
            - FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
            - EXECUTOR=Celery
            - LOG_DEST=${LOG_DEST}
            - LOG_FILE=${LOG_FILE}
            - LOG_LEVEL=${LOG_LEVEL}
            - LOG_URL=${LOG_URL}
            - TRANSFORM_URI=${TRANSFORM_URI}
            - USER_AGENT=${USER_AGENT}
        volumes:
            - ${DAGS_PATH}:${DAGS_DEST}
            - ${LIB_PATH}:${LIB_DEST}
            - ${LOG_PATH}:${LOG_DEST}
            - ${RS_PATH}:${RS_DEST}
        ports:
            - "8282:8080"
        networks:
          - gleanomatic
        command: webserver
        healthcheck:
            test: ["CMD-SHELL", "[ -f /usr/local/airflow/airflow-webserver.pid ]"]
            interval: 30s
            timeout: 30s
            retries: 3

    flower:
        image: gleanomatic_core 
        restart: always
        depends_on:
            - redis
        environment:
            - EXECUTOR=Celery
            # - REDIS_PASSWORD=redispass
            - LOG_DEST=${LOG_DEST}
            - LOG_FILE=${LOG_FILE}
            - LOG_LEVEL=${LOG_LEVEL}
            - LOG_URL=${LOG_URL}
            - TRANSFORM_URI=${TRANSFORM_URI}
            - USER_AGENT=${USER_AGENT}
        volumes:
            - ${DAGS_PATH}:${DAGS_DEST}
            - ${LIB_PATH}:${LIB_DEST}
            - ${LOG_PATH}:${LOG_DEST}
            - ${RS_PATH}:${RS_DEST}
        ports:
            - "5555:5555"
        networks:
          - gleanomatic
        command: flower

    scheduler:
        image: gleanomatic_core
        restart: always
        depends_on:
            - webserver
        environment:
            - LOAD_EX=n
            - FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
            - EXECUTOR=Celery
            - LOG_DEST=${LOG_DEST}
            - LOG_FILE=${LOG_FILE}
            - LOG_LEVEL=${LOG_LEVEL}
            - LOG_URL=${LOG_URL}
            - TRANSFORM_URI=${TRANSFORM_URI}
            - USER_AGENT=${USER_AGENT}
        volumes:
            - ${DAGS_PATH}:${DAGS_DEST}
            - ${LIB_PATH}:${LIB_DEST}
            - ${LOG_PATH}:${LOG_DEST}
            - ${RS_PATH}:${RS_DEST}
        networks:
          - gleanomatic
        command: scheduler

    worker:
        image: gleanomatic_core 
        restart: always
        depends_on:
            - scheduler
        environment:
            - FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
            - EXECUTOR=Celery
            - LOG_DEST=${LOG_DEST}
            - LOG_FILE=${LOG_FILE}
            - LOG_LEVEL=${LOG_LEVEL}
            - LOG_URL=${LOG_URL}
            - TRANSFORM_URI=${TRANSFORM_URI}
            - USER_AGENT=${USER_AGENT}
        volumes:
            - ${DAGS_PATH}:${DAGS_DEST}
            - ${LIB_PATH}:${LIB_DEST}
            - ${LOG_PATH}:${LOG_DEST}
            - ${RS_PATH}:${RS_DEST}
        networks:
          - gleanomatic
        command: worker
